@model IEnumerable<EMR.Models.PhysicalExamination>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">معاینات بالینی</div>

    <div class="panel-body">
        @Html.ActionLink("Add", "Create", "PhysicalExamination", new { Area = "Department", hospitalizationId = ViewBag.HospitalizationId }, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-right" })
    </div>

    <table class="table table-bordered table-hover">
        @foreach (var item in Model)
        {
            <tr>
                <td style="width:20px">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Details", "Details", "PhysicalExamination", new { Area = "Department", id = item.PhysicalExaminationId }, new { data_modal = "" })</li>
                            <li>@Html.ActionLink("Edit", "Edit", "PhysicalExamination", new { Area = "Department", id = item.PhysicalExaminationId }, new { data_modal = "" })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Delete", "Delete", "PhysicalExamination", new { Area = "Department", id = item.PhysicalExaminationId }, new { data_modal = "" })</li>
                        </ul>
                    </div>
                </td>
                <td>
                    @Html.Label("LeadTime", item.LeadTime)  @Html.Label("HR", item.Lung)
                </td>
            </tr>
        }
    </table>
    <div class="panel-footer">Count = @Model.Count()</div>
</div>
