@using EMR.Models
@using PagedList
@using PagedList.Mvc

@model IPagedList<EMR.Models.EMRWomanView>

<div style="direction:rtl;">
    <div style="background-color:#cde6f1; margin-top:50px;">
        @using (Html.BeginForm("Index", "Woman", FormMethod.Get, new { style = "height: 80px;" }))
        {
            @Html.AntiForgeryToken()
            <b style="margin-right: 20px;"> جستجو بر اساس : </b>
            @Html.RadioButton("SearchBy", "Family")          <text> نام خانوادگی </text>      <span style="color:blue"> | </span>
            @Html.RadioButton("SearchBy", "NationalCode")    <text> کد ملی </text>             <span style="color:blue"> | </span>
            @Html.RadioButton("SearchBy", "SelectALL", true) <text> نمایش همه رکوردها </text>
            <br />
            @Html.TextBox("Search", "", new { Style = "float:right; height:30px; margin-right: 20px; margin-top:15px; ", @class = "form-control" })
            <input type="submit" value="جستجو" class="btn btn-info" style="height: 30px; margin-top: 15px;" />
        }

        @Html.ActionLink("نمایش همه رکوردها", "Index", "Woman", null, new { @class = "btn", style = "margin-right: 20px;" })
    </div>
    <hr />

    <table class="table-bordered">

        <tr>
            <th>
                شناسه پذیرش
            </th>
            <th>
                نام
            </th>
            <th>
                نام خانوادگی
            </th>
            <th>
                کد ملی
            </th>
            <th>
                تاریخ
            </th>
            <th>
                شناسه بیمار
            </th>
            <th></th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="5"> .برای این جستجو هیچ رکوردی یافت نشده است </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Adm_Code
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Family
                    </td>
                    <td>
                        @item.NationalCode
                    </td>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.ID_Code
                    </td>
                    <td>
                        @Html.ActionLink("معاینه جدید", "Create", "Woman", new { patientId = item.ID_Code, clinicId = ViewBag.ClinicId, admissionId = item.Adm_Code }, null)   |
                        @Html.ActionLink("معاینات قبلی من", "PastVisit", "Woman", new { patientId = item.ID_Code, clinicId = ViewBag.ClinicId, admissionId = item.Adm_Code }, null)
                    </td>
                </tr>
            }
        }
    </table>
    @Html.PagedListPager(Model, Page => Url.Action("AjaxPage", new { Page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
           {
               HttpMethod = "GET",
               UpdateTargetId = "content",
               InsertionMode = InsertionMode.Replace
           }))
</div>

