@{
    ViewBag.Title = "بستری بخش قلب";
    Layout = "~/Views/Shared/_Layout_Modal.cshtml";
}

<div style="direction:ltr;">
    <div>
        @Html.ActionLink("Back to patients list heart part", "DHPatient", "Cardiology", new { Area = "Department", departmentId = ViewBag.DepartmentId }, new { style = "color: green; font-size: 18px;" })
    </div>

    <div>
        @Html.Partial("~/Areas/Department/Views/HistoryDiseas/_Index.cshtml", (EMR.Models.HistoryDiseas)ViewBag.HistoryDiseas)
    </div>

    <div>
        @Html.Partial("~/Areas/Department/Views/ChiefComplaint/_Index.cshtml", (IEnumerable<EMR.Models.ChiefComplaint>)ViewBag.ChiefComplaint)
    </div>

    <div>
        @Html.Partial("~/Areas/Department/Views/VitalSign/_Index.cshtml", (IEnumerable<EMR.Models.VitalSign>) ViewBag.VitalSign)
    </div>

    <div>
        @Html.Partial("~/Areas/Department/Views/PhysicalExamination/_Index.cshtml", (IEnumerable<EMR.Models.PhysicalExamination>)ViewBag.PhysicalExamination)
    </div>

    <div>
        @Html.Partial("~/Areas/Department/Views/Laboratory/_Index.cshtml", (IEnumerable<EMR.Models.Laboratory>)ViewBag.Laboratory)
    </div>
    
    <div>
        @Html.Partial("_Index", (IEnumerable<EMR.Models.Cardiology>)ViewBag.Cardiology)
    </div>  
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/modalform")
    }
